.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

input {
  margin-bottom: 20px;
  border-color: brown;
}

button {
  border-color: brown;
  background-color: bisque;
}

table,
th,
td {
  border: 1px solid;
}
